.container {
  width: 70%;
  margin: 0 auto;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.icon svg {
  height: 3rem;
  width: 3rem;
  margin-right: 8px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
