.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.icon svg {
  height: 3rem;
  width: 3rem;
  margin-right: 8px;
  animation: rotate 1s linear infinite;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
