.header {
  width: 100%;
  padding: 20px 0;
  background-color: #f57c00;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  flex: 1;
}

.header nav ul {
  list-style: none;
  display: flex;
}

.header nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 10px;
  margin: 0 10px;
}

.header nav ul li a:hover {
  color: #ffe0b2;
  transition: all 0.4s;
}

.active-link {
  border-bottom: 4px solid #444;
}

.search {
  color: #fff;
}

.search button {
  color: transparent;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.search svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  margin-top: 0.25rem;
}

.menu {
  display: none;
}

.menu button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  color: #fff;
}

.menu svg {
  height: 1.5rem;
  width: 1.5rem;
}

.menu nav {
  display: none;
  width: 100%;
}

.menu nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu nav ul li a {
  padding: 8px 10px;
  color: #000;
  background-color: #efefef;
  display: block;
  margin: 10px 0;
}

.menu nav ul li a:hover {
  color: #999;
}

.menu .active-link {
  background-color: #f57c00;
  color: #fff;
}

.menu .logo {
  color: #f57c00;
  margin-bottom: 20px;
}

.control {
  width: 100%;
}

.control label {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.control input {
  width: 100%;
  border: 1px solid #f57c00;
  padding-left: 8px;
  margin-top: 5px;
  height: 40px;
  color: #444;
  font-size: 16px;
}

.form button {
  background-color: #f57c00;
  border: 1px solid #ffe0b2;
  color: #fff;
  padding: 8px 10px;
  cursor: pointer;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: inline-block;
  }
  .header nav {
    display: none;
  }
  .menu nav {
    display: block;
  }
}
